*{
        box-sizing: border-box;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        padding:0;
}

.main{
     background-image: url(./background2.jpg);
    width:100%;
    background-size: 100%;
    display : flex;
}

.body{
    width:auto;
    height:auto;
    background-color: rgb(197, 238, 241);
    z-index:3;
    margin : auto;
}

.signup-form-text{
    margin:0;
    font-weight: 500;
}

.signup-form{
    padding : 16px;
}

.signup-form-item{
    margin:0 16px 16px;
   
}


.signup-form-name{
    line-height:30px;
    width:100%;
    outline: none;
    padding-left: 8px;
    background-color: rgba(250, 241, 158, 0.4);
}

.signup-form-item{

}

.signup-form-submit{
    background-color:rgb(19, 92, 228);
    color:aquamarine;
    font-weight:600;
    padding:6px 8px;
    border:none;
    border-radius: 4px;
}

.signup-form-submit:hover{
    /* background-color: rgb(24, 209, 223); */
    opacity:0.7;
    color:rgb(247, 247, 242);
    cursor:pointer;
}
